*.a
*.o
*.dep
*.mak
docs/
Makefile
stm8.src/sstm8
tlcs.src/stlcs
z80.src/sz80
s51.src/s51
p1516.src/sp1516
p1516.src/ucsim_p1516
config.log
config.status
ddconfig.h
main.mk
nbproject/
packages.mk
s51_alone
